.container {
    marginLeft: 40;
    marginRight: 40;
    alignItems: 'center';
    justifyContent: 'center'
}

.delete_btn {
    margin-left: 10px;
}

.modalFooterBtn {
    display: inline;
}

.modalFooterBtn_secondbtn {
    margin-left: 10px;
}