.container {
    marginLeft: 40;
    marginRight: 40;
    alignItems: 'center';
    justifyContent: 'center';
    margin-top: 10px;
}

.delete_btn {
    margin-left: 10px;
}

.modalFooterBtn {
    display: inline;
}

.modalFooterBtn_secondbtn {
    margin-left: 10px;
}

.cre_btn {
    margin-bottom: 10px;
}

.action_colum {
    text-align: center;
}

.loadUser_btn {
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
